{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
	Aplică
{% endblock title %}
{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
    <style>
        .errorlist {
            color: red;
        }
        .dropdown-content a:hover {background-color: #ddd;}
        .dropdown:hover .dropbtn {background-color: #808080;}
    </style>
</head>
<div class="modal in" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title futura">Lasă-ne datele tale de contact și te contactăm noi!</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="close_m()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <form id="registration_form" action="{% url 'submitFloater' %}" method="post">
                    {% csrf_token %}
                    <div id="div_id_email" class="form-group">
                        <label for="id_email" class="requiredField futura" style="float: left; font-size: 1.5vw;">Email <span style="color:#AB4E52">*</span></label>
                        <div class="">
                            <input type="email" name="email" maxlength="60" class="emailinput form-control" required="" id="id_email" style="background-color: rgb(209, 209, 209);">
                        </div>
                    </div>
                    <div id="div_id_phone" class="form-group">
                        <label for="id_phone" class="requiredField futura" style="float: left; font-size: 1.5vw;">Telefon <span style="color:#AB4E52">*</span></label>
                        <div class="">
                            <input type="phone" name="phone" maxlength="60" class="form-control" required="" id="id_phone" style="background-color: rgb(209, 209, 209);">
                        </div>
                    </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Trimite</button>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="close_m()">Iesire</button>
            </div>
        
        </div>
    </div>
</div>
<div class="mobileHide">
    <div class="row h-100" style="overflow: hidden; background-color: #121729;">
        <button class="futura" onclick="topFunction()" id="myTopBtn" title="Go to top">back to top ────</button>
        <div class="col-3" style="background-color: #121729; text-align: center;">
            <img src="{% static 'vs_title.jpg' %}" draggable="false"  class="img-fluid" onclick="location.href = '/'" style="width: 80%; margin-top: 10%; margin-left: 10%;  margin-right: 10%; cursor: pointer;">
            <pre><p class="futura" style="font-size: 0.75vw; color: #FFFFFF; cursor: pointer;" onclick="location.href = '/'">C L U J    N A P O C A    •    R O M A N I A</p></pre>
            <pre><button class="catchphrase" id="myCatchPhrase" style="font-size: 5vw; color: #6f7070"> We'll show it</button></pre>
            <pre><button class="catchphrase" id="myCatchPhrase" style="transform: translateY(200%) rotate(-90deg); color: black; font-size: 2vw;"> Something special for you</button></pre>
            <p class="cochinRegular" style="font-size: 1.6vw; color: white; margin: 5%; margin-bottom: 10%; margin-top: 15%;">
                Aplică pentru un job de model completând formularul din pagină. Te vom contacta telefonic în decursul aceleiași zile pentru a stabili un interviu. <span class="cochinRegular" style="font-weight: bold;">Te rugăm, asigură-te ca ne oferi numărul de telefon corect.</span>
            </p>
            <p class="cochinRegular" style="font-size: 1.6vw; color: white; margin: 5%; margin-bottom: 10%;">
                Aplicarea reprezintă doar o intenție din partea ta, nu presupune nicio obligație, fiind doar o ocazie de a ne cunoaște, de a-ți raspunde la întrebari și de a discuta în persoană despre beneficiile unei colaborări cu studioul nostru.
            </p>
            <p class="cochinRegular" style="font-size: 1.6vw; color: white; margin: 5%;">
                Despre un eventual contract vom putea vorbi abia la finalul întrevederii, în cazul în care suntem cu toții multumiți de cele discutate.
            </p>
        </div>
        <div class="col-9" style="text-align: center; overflow: hidden; text-align: center; background-image: url('{% static 'background_img.jpg' %}'); background-size: contain;background-repeat: no-repeat; background-color: #121729;">
            <div class="row">
                <pre class="futura" style="font-size: 4.0vw; margin-top: 1%; margin-bottom: 0%; padding-bottom: 0%; color: white;">A    P    L    I    C    Ă</pre>
                <div style="float: right">
                    <div class="dropdown" style="float: right;">
                        <button class="dropbtn"><p class="menuitem" style=" white-space: normal;
                            word-wrap: break-word; width: 100px; color: white;">M E N U </p>
                        </p></button>
                        <div class="dropdown-content">
                          <a href="/">Home</a>
                          <a href="/aboutus">Despre Noi</a>
                          <a href="/galerie">Galerie</a>
                          <a href="/contact">Contact</a>
                          <a href="/modele">Modele</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row" style="margin-top: -5%;">
                <div class="applyForm">
                    <form method="post">
                        {% csrf_token %}
                        <div id="div_id_name" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="name" maxlength="60" class="textinput textInput form-control" required="" id="id_name" value="Nume, prenume" onfocus="if(this.value == 'Nume, prenume'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.name}}</p>
                        </div>
                        <div id="div_id_phone" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="phone" maxlength="60" class="textinput textInput form-control" required="" id="id_phone_1" value="Telefon" onfocus="if(this.value == 'Telefon'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.phone}}</p>
                        </div>
                        <div id="div_id_year_of_birth" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="year_of_birth" class="numberinput form-control" required="" id="id_year_of_birth" value="Anul nașterii" onfocus="if(this.value == 'Anul nașterii'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.year_of_birth}}</p>
                        </div>
                        <div id="div_id_english_level" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <select name="english_level" class="form-select form-control" required="" id="id_english_level">
                                     <option value="" selected="">Nivel limbă engleză</option>
                                        <option value="1">Începător</option>
                                        <option value="2">Mediu</option>
                                        <option value="3">Avansat</option>
                                </select>
                            </div>
                        </div>
                        <div id="div_id_experience" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                    <select name="experience" class="form-select form-control" required="" id="id_experience">
                                        <option value="" selected="">Experiență</option>
                                        <option value="1">Nu</option>
                                        <option value="2">Da, sub 6 luni</option>
                                        <option value="3">Da, peste 6 luni</option>
                                 </select>
                            </div>
                        </div>
                        <div id="div_id_facebook" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="facebook" maxlength="60" class="textinput textInput form-control" required="" id="id_facebook" value="Profil Facebook" onfocus="if(this.value == 'Profil Facebook'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.facebook}}</p>
                        </div>
                        <div id="div_id_instagram" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="instagram" maxlength="60" class="textinput textInput form-control" required="" id="id_instagram" value="Profil Instagram" onfocus="if(this.value == 'Profil Instagram'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.instagram}}</p>
                        </div>                           
                        <div id="div_id_message" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <textarea name="message" cols="40" rows="10" maxlength="3000" class="textarea form-control" required="" id="id_message">Mesajul tău (opțional)</textarea>
                            </div>
                        </div>
                        <button class="btn apply_btn" type="submit" style="vertical-align:middle; background-color: white; padding-top: 0%; padding-bottom: 0%; padding-right: 10%; padding-left: 10%;"><span><pre class="futura" style="color: black; font-size: 3vw; padding: 0%; margin: 0%;">A P L I C Ă</pre></span></button>
                    </form>
                </div>
            </div>
            <div class="row" style="background-color: #121729; margin-top: 5%; color: white;">
                <div class="row" style="background-color: #121729; margin-top: 5%; color: white;">
                    <div class="row">
                        <div class="col-6">
                            <div class="gillSansRegular mt-3" style="font-size: 2.5vw;">
                                Mail
                            </div>
                            <a href="mailto:office@visionstudios.ro" style="text-decoration: none; color: white; font-size: 1.5vw;"><span class="gillSansLight">office@visionstudios.ro</span></a>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="gillSansRegular mt-3" style="font-size: 2.5vw;">
                                Website
                            </div>
                            <a href="/" style="margin-top: -1%; padding: 0%; text-decoration: none; color: white; font-size: 1.5vw;"><span class="gillSansLight">www.visionstudios.ro</span></a>
                        </div>
                        <div class="col-6">
                            <div class="gillSansRegular mt-3" style="font-size: 2.5vw;">
                                Telefon
                            </div>
                            <a style="text-decoration: none; color: white; font-size: 1.5vw;"><span class="gillSansLight">0731 384 526</span></a>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 2%;">
                        <div class="col-6">
                            <a href="https://www.instagram.com/visionstudioscj/" target="_blank">
                                <img src="{% static '/social_logos/insta2.png' %}" draggable="false" class="img-fluid" height="auto" width="14%" style="float: right;">
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="https://www.facebook.com/modelingonlinecj" target="_blank">
                                <img src="{% static '/social_logos/fb.png' %}" draggable="false" class="img-fluid" height="auto" width="14%" style="float: left;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="mobileShow">
    <div class="row h-100" style="overflow: hidden; background-color: #121729;">
        <button class="futura" onclick="topFunction()" id="myTopBtn" title="Go to top">back to top ────</button>
        <div class="col-4" style="background-color: #121729; text-align: center;">
            <div>
                <img src="{% static 'vs_title.png' %}" onclick="location.href = '/'" draggable="false" class="img" style="width: 140%;  transform: rotate(-90deg); margin-top: 80%; margin-left: -50%;">
                <div style="transform: rotate(-90deg); margin-top: -20%; margin-left: -40%; width: 200%;" onclick="location.href = '/'"><pre><p class="futura" style="font-size: 1.25vw; color: #FFFFFF;">C L U J    N A P O C A    •    R O M A N I A</p></pre></div>
            </div>
            <div style="margin-top: 90%;">
                <p class="cochinRegular" style="font-size: 2.75vw; color: white; margin: 5%; margin-bottom: 10%; margin-top: 15%;">
                    Aplică pentru un job de model completând formularul din pagină. Te vom contacta telefonic în decursul aceleiași zile pentru a stabili un interviu. <span class="cochinRegular" style="font-weight: bold;">Te rugăm, asigură-te ca ne oferi numărul de telefon corect.</span>
                </p>
                <p class="cochinRegular" style="font-size: 2.75vw; color: white; margin: 5%; margin-bottom: 10%;">
                    Aplicarea reprezintă doar o intenție din partea ta, nu presupune nicio obligație, fiind doar o ocazie de a ne cunoaște, de a-ți raspunde la întrebari și de a discuta în persoană despre beneficiile unei colaborări cu studioul nostru.
                </p>
                <p class="cochinRegular" style="font-size: 2.75vw; color: white; margin: 5%;">
                    Despre un eventual contract vom putea vorbi abia la finalul întrevederii, în cazul în care suntem cu toții multumiți de cele discutate.
                </p>
            </div>
        </div>
        <div class="col-8" style="text-align: center; overflow: hidden; text-align: center; background-image: url('{% static 'background_img.jpg' %}'); background-size: contain;background-repeat: no-repeat; background-color: #121729;">
            <div class="row">
                <pre class="futura" style="font-size: 5.0vw; margin-top: 1%; margin-bottom: 0%; padding-bottom: 0%; color: white;">A    P    L    I    C    Ă</pre>
                <div style="float: right">
                    <div class="dropdown" style="float: right; margin-top: 10%">
                        <button class="dropbtn"><p class="menuitem" style="color: white; width: 50px;">M E N U </p>
                        </p></button>
                        <div class="dropdown-content" style="float: right;">
                          <a href="/" style="font-size: 3vw;">Home</a>
                          <a href="/aboutus" style="font-size: 3vw;">Despre Noi</a>
                          <a href="/galerie" style="font-size: 3vw;">Galerie</a>
                          <a href="/contact" style="font-size: 3vw;">Contact</a>
                          <a href="/modele" style="font-size: 3vw;">Modele</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row" style="margin-top: -5%;">

                <div class="appForm">
                    <form method="post">
                        {% csrf_token %}
                        <div id="div_id_name" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="name" maxlength="60" class="textinput textInput form-control" required="" id="id_name_2" value="Nume, prenume" onfocus="if(this.value == 'Nume, prenume'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.name}}</p>
                        </div>
                        <div id="div_id_phone" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="phone" maxlength="15" class="textinput textInput form-control" required="" id="id_phone_2" value="Telefon" onfocus="if(this.value == 'Telefon'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.phone}}</p>
                        </div>
                        <div id="div_id_year_of_birth" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="year_of_birth" class="numberinput form-control" required="" id="id_year_of_birth_2" value="Anul nașterii" onfocus="if(this.value == 'Anul nașterii'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.year_of_birth}}</p>
                        </div>
                        <div id="div_id_english_level" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <select name="english_level" class="form-select form-control" required="" id="id_english_level_2">
                                     <option value="" selected="">Nivel limbă engleză</option>
                                        <option value="1">Începător</option>
                                        <option value="2">Mediu</option>
                                        <option value="3">Avansat</option>
                                </select>
                            </div>
                        </div>
                        <div id="div_id_experience" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                    <select name="experience" class="form-select form-control" required="" id="id_experience_2">
                                        <option value="" selected="">Experiență</option>
                                        <option value="1">Nu</option>
                                        <option value="2">Da, sub 6 luni</option>
                                        <option value="3">Da, peste 6 luni</option>
                                 </select>
                            </div>
                        </div>
                        <div id="div_id_facebook" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="facebook" maxlength="60" class="textinput textInput form-control" required="" id="id_facebook_2" value="Profil Facebook" onfocus="if(this.value == 'Profil Facebook'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.facebook}}</p>
                        </div>
                        <div id="div_id_instagram" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <input type="text" name="instagram" maxlength="60" class="textinput textInput form-control" required="" id="id_instagram_2" value="Profil Instagram" onfocus="if(this.value == 'Profil Instagram'){this.value = '';}">
                            </div>
                            <p class="futuraMedium" style="color: red;">{{appForm.errors.instagram}}</p>
                        </div>     
                        <div id="div_id_message" class="form-group" style="margin-bottom: 8%;">
                            <div class="futuraMedium">
                                <textarea name="message" cols="40" rows="10" maxlength="3000" class="textarea form-control" required="" id="id_message_2">Mesajul tău (opțional)</textarea>
                            </div>
                        </div>
                        <button class="btn apply_btn" type="submit" style="vertical-align:middle; background-color: white; padding-top: 0%; padding-bottom: 0%; padding-right: 10%; padding-left: 10%;"><span><pre class="futura" style="color: black; font-size: 3vw; padding: 0%; margin: 0%;">A P L I C Ă</pre></span></button>
                    </form>
                </div>
            </div>
            <div class="row" style="background-color: #121729; margin-top: 5%; color: white;">
                <div class="row">
                    <div class="col-6">
                        <div class="gillSansRegular mt-3" style="font-size: 4.5vw;">
                            Mail
                        </div>
                        <a href="mailto:office@visionstudios.ro" style="text-decoration: none; color: white; font-size: 3.5vw;"><span class="gillSansLight">office@visionstudios.ro</span></a>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="gillSansRegular mt-3" style="font-size: 4.5vw;">
                            Website
                        </div>
                        <a href="/" style="margin-top: -1%; padding: 0%; text-decoration: none; color: white; font-size: 3.5vw;"><span class="gillSansLight">www.visionstudios.ro</span></a>
                    </div>
                    <div class="col-6">     
                        <div class="gillSansRegular mt-3" style="font-size: 4.5vw;">
                            Telefon
                        </div>
                        <a style="text-decoration: none; color: white; font-size: 3.5vw;"><span class="gillSansLight">0731 384 526</span></a>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 2%; margin-top: 5%;">
                    <div class="col-6">
                        <a href="https://www.instagram.com/visionstudioscj/" target="_blank">
                            <img src="{% static '/social_logos/insta2.png' %}" draggable="false" class="img-fluid" height="auto" width="25%" style="float: right;">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.facebook.com/modelingonlinecj" target="_blank">
                            <img src="{% static '/social_logos/fb.png' %}" draggable="false" class="img-fluid" height="auto" width="25%" style="float: left;">
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function()
    {
        var name = "{{appForm.name.value}}";
        if (name != '' && name != 'None') {
            $('#id_name').attr('value', name);
            $('#id_name_2').attr('value', name);
        }
        var year_of_birth = "{{appForm.year_of_birth.value}}";
        if (year_of_birth != '' && year_of_birth != 'None') {
            $('#id_year_of_birth').attr('value', year_of_birth);
            $('#id_year_of_birth_2').attr('value', year_of_birth);
        }
        var english_level = "{{appForm.english_level.value}}";
        if (english_level != '' && english_level != 'None') {
            $("#id_english_level").val(english_level).change();
            $("#id_english_level_2").val(english_level).change();
        }
        var experience = "{{appForm.experience.value}}";
        if (experience != '' && experience != 'None') {
            $("#id_experience").val(experience).change();
            $("#id_experience_2").val(experience).change();
        }
        var facebook = "{{appForm.facebook.value}}";
        if (facebook != '' && facebook != 'None') {
            $('#id_facebook').attr('value', facebook);
            $('#id_facebook_2').attr('value', facebook);
        }
        var instagram = "{{appForm.instagram.value}}";
        if (facebook != '' && instagram != 'None') {
            $('#id_instagram').attr('value', instagram);
            $('#id_instagram_2').attr('value', instagram);
        }
        var phone = "{{appForm.phone.value}}";
        if (phone != '' && phone != 'None') {
            $('#id_phone_1').attr('value', phone);
            $('#id_phone_2').attr('value', phone);
        }
        var message = "{{appForm.message.value}}";
        if (message != '' && message != 'None') {
            $("#id_message").val(message);
            $("#id_message_2").val(message);
        }
    })

    //Get the button
    var mybutton = document.getElementById("myTopBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
{% endblock content %}