{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
	Modele
{% endblock title %}
{% block content %}
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
</head>
<div class="modal in" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title futura">Lasă-ne datele tale de contact și te contactăm noi!</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="close_m()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <form id="registration_form" action="{% url 'submitFloater' %}" method="post">
                    {% csrf_token %}
                    <div id="div_id_email" class="form-group">
                        <label for="id_email" class="requiredField futura" style="float: left; font-size: 1.5vw;">Email <span style="color:#AB4E52">*</span></label>
                        <div class="">
                            <input type="email" name="email" maxlength="60" class="emailinput form-control" required="" id="id_email" style="background-color: rgb(209, 209, 209);">
                        </div>
                    </div>
                    <div id="div_id_phone" class="form-group">
                        <label for="id_phone" class="requiredField futura" style="float: left; font-size: 1.5vw;">Telefon <span style="color:#AB4E52">*</span></label>
                        <div class="">
                            <input type="phone" name="phone" maxlength="60" class="form-control" required="" id="id_phone" style="background-color: rgb(209, 209, 209);">
                        </div>
                    </div>
                
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Trimite</button>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="close_m()">Iesire</button>
            </div>
        
        </div>
    </div>
</div>
<div class="mobileHide">
    <div class="row h-100" style="overflow: hidden;">
        <button class="futura" onclick="topFunction()" id="myTopBtn" title="Go to top">back to top ────</button>
        <div class="col-3" style="background-color: #121729; text-align: center;">
            <img src="{% static 'vs_title.jpg' %}" draggable="false"  onclick="location.href = '/'" class="img-fluid" style="width: 80%; margin-top: 10%; margin-left: 10%;  margin-right: 10%; cursor: pointer;">
            <pre><p class="futura" style="font-size: 0.75vw; color: #FFFFFF; cursor: pointer;" onclick="location.href = '/'">C L U J    N A P O C A    •    R O M A N I A</p></pre>            <pre><button class="apply_txt" id="myApplyBtn" onclick="location.href = '/aplica'"> ───  A   P   L   I   C   Ă</button></pre>

        </div>
        <div class="col-9" style="text-align: center; overflow: hidden">
            <div class="row">
                <pre class="futura" style="font-size: 4.0vw; margin-top: 1%; margin-bottom: 0%; padding-bottom: 0%;">C    O    N    T    A    C    T</pre>
                <div style="float: right">
                    <div class="dropdown" style="float: right;">
                        <button class="dropbtn"><p class="menuitem" style="width: 100px;">M E N U </p>
                        </p></button>
                        <div class="dropdown-content">
                          <a href="/">Home</a>
                          <a href="/aboutus">Despre Noi</a>
                          <a href="/galerie">Galerie</a>
                          <a href="/modele">Modele</a>
                          <a href="/insta">Insta</a>
                          <a href="/blog">Blog</a>
                          <a href="/aplica">Aplică</a>
                        </div>
                      </div>
                </div>
                <div style="margin-top: 0%;">
                    <pre class="futura" style="font-size: 1.2vw; float: left; margin-left: 10%; color: #3d3d3d; margin-bottom: 3em">F i e l d s    m a r k e d    w i t h    a n   <span style="color:#AB4E52">*</span>   a r e    r e q u i r e d.</pre>
                </div>
            </div>
            <div class="row">
                <div class="contactForm">
                    <form method="post" >
                        {% csrf_token %}
                        <div id="div_id_email" class="form-group">
                            <label for="id_email" class="requiredField futura" style="float: left; font-size: 1.4vw;">Email <span style="color:#AB4E52">*</span></label>
                            <div class="">
                                <input type="email" name="email" maxlength="60" class="emailinput form-control" required="" id="id_email" style="background-color: rgb(209, 209, 209); padding: 5%;">
                            </div>
                        </div>
                        <div id="div_id_name" class="form-group">
                            <label for="id_name" class="requiredField futura" style="float: left; font-size: 1.4vw;"> Nume <span style="color:#AB4E52">*</span> </label>
                            <div class="">
                                <input type="text" name="name" maxlength="60" class="textinput textInput form-control" required="" id="id_name" style="background-color: rgb(209, 209, 209); padding: 5%;">
                            </div>
                        </div>
                        <div id="div_id_message" class="form-group">
                            <label for="id_message" class="requiredField futura" style="float: left; font-size: 1.4vw;">Mesajul tău <span style="color:#AB4E52">*</span> </label>
                            <div class="">
                                <textarea name="message" cols="40" rows="10" maxlength="3000" class="textarea form-control" required="" id="id_message" style="background-color: rgb(209, 209, 209); padding: 5%;"></textarea>
                            </div>
                        </div> 
                        <div  style="margin-top: 15%;">
                            <button class="btn apply_btn futura" type="submit" style="color: white; font-size: 2vw;  border-radius: 5px;"><span>T R I M I T E</span></button>
                        </div>         
                    </form>
                </div>
            </div>
            <div class="row" style="background-color: #121729; margin-top: 5%; color: white;">
                <div class="row">
                    <div class="col-6">
                        <div class="gillSansRegular mt-3" style="font-size: 2.5vw;">
                            Mail
                        </div>
                        <a href="mailto:office@visionstudios.ro" style="text-decoration: none; color: white; font-size: 1.5vw;"><span class="gillSansLight">office@visionstudios.ro</span></a>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="gillSansRegular mt-3" style="font-size: 2.5vw;">
                            Website
                        </div>
                        <a href="/" style="margin-top: -1%; padding: 0%; text-decoration: none; color: white; font-size: 1.5vw;"><span class="gillSansLight">www.visionstudios.ro</span></a>
                    </div>
                    <div class="col-6">
                        <div class="gillSansRegular mt-3" style="font-size: 2.5vw;">
                            Telefon
                        </div>
                        <a style="text-decoration: none; color: white; font-size: 1.5vw;"><span class="gillSansLight">0731 384 526</span></a>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 2%;">
                    <div class="col-6">
                        <a href="https://www.instagram.com/visionstudioscj/" target="_blank">
                            <img src="{% static '/social_logos/insta2.png' %}" draggable="false" class="img-fluid" height="auto" width="14%" style="float: right;">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.facebook.com/modelingonlinecj" target="_blank">
                            <img src="{% static '/social_logos/fb.png' %}" draggable="false" class="img-fluid" height="auto" width="14%" style="float: left;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobileShow">
    <div class="row h-100" style="overflow: hidden;">
        <button class="futura" onclick="topFunction()" id="myTopBtn" title="Go to top">back to top ────</button>
        <div class="col-3" style="background-color: #121729; text-align: center;">
            <img src="{% static 'vs_title.png' %}" onclick="location.href = '/'" draggable="false" class="img" style="width: 200%;  transform: rotate(-90deg); margin-top: 100%; margin-left: -60%;">
            <div style="transform: rotate(-90deg); margin-top: -20%; margin-left: -50%; width: 250%;" onclick="location.href = '/'"><pre><p class="futura" style="font-size: 1.25vw; color: #FFFFFF;">C L U J    N A P O C A    •    R O M A N I A</p></pre></div>
            <pre><button class="apply_txt" id="myApplyBtn" onclick="location.href = '/aplica'" style="font-size: 6.0vw;"> ───  A   P   L   I   C   Ă</button></pre>
        </div>
        <div class="col-9" style="text-align: center; overflow: hidden">
            <div class="row">
                <pre class="futura" style="font-size: 4.0vw; margin-top: 1%; margin-bottom: 0%; padding-bottom: 0%;">C    O    N    T    A    C    T</pre>
                <div style="float: right">
                    <div class="dropdown" style="float: right;">
                        <button class="dropbtn"><p class="menuitem" style=" white-space: normal;
                            word-wrap: break-word; width: 50px;">M E N U </p>
                        </p></button>
                        <div class="dropdown-content" style="float: right;">
                          <a href="/" style="font-size: 3vw;">Home</a>
                          <a href="/aboutus" style="font-size: 3vw;">Despre Noi</a>
                          <a href="/galerie" style="font-size: 3vw;">Galerie</a>
                          <a href="/modele" style="font-size: 3vw;">Modele</a>
                          <a href="/aplica" style="font-size: 3vw;">Aplică</a>
                          <a href="/insta" style="font-size: 3vw;">Insta</a>
                          <a href="/blog" style="font-size: 3vw;">Blog</a>

                        </div>
                      </div>
                </div>
                <div style="margin-top: 0%;">
                    <pre class="futura" style="font-size: 2.25vw; float: left; margin-left: 10%; color: #3d3d3d;">F i e l d s    m a r k e d    w i t h    a n   <span style="color:#AB4E52">*</span>   a r e    r e q u i r e d.</pre>
                </div>
            </div>
            <div class="row">
                <div class="contactForm">
                    <form method="post" >
                        {% csrf_token %}
                        <div id="div_id_email" class="form-group">
                            <label for="id_email" class="requiredField futura" style="float: left; font-size: 3.5vw;">Email <span style="color:#AB4E52">*</span></label>
                            <div class="">
                                <input type="email" name="email" maxlength="60" class="emailinput form-control" required="" id="id_email" style="background-color: rgb(209, 209, 209); padding: 8%;">
                            </div>
                        </div>
                        <div id="div_id_name" class="form-group">
                            <label for="id_name" class="requiredField futura" style="float: left; font-size: 3.5vw;"> Nume <span style="color:#AB4E52">*</span> </label>
                            <div class="">
                                <input type="text" name="name" maxlength="60" class="textinput textInput form-control" required="" id="id_name" style="background-color: rgb(209, 209, 209); padding: 8%;">
                            </div>
                        </div>
                        <div id="div_id_message" class="form-group">
                            <label for="id_message" class="requiredField futura" style="float: left; font-size: 3.5vw;">Mesajul tău <span style="color:#AB4E52">*</span> </label>
                            <div class="">
                                <textarea name="message" cols="40" rows="10" maxlength="3000" class="textarea form-control" required="" id="id_message" style="background-color: rgb(209, 209, 209); padding: 8%;"></textarea>
                            </div>
                        </div> 
                        <div  style="margin-top: 15%;">
                            <button class="btn apply_btn futura" type="submit" style="color: white; font-size: 3vw;  border-radius: 5px;"><span>T R I M I T E</span></button>
                        </div>         
                    </form>
                </div>
            </div>
            <div class="row" style="background-color: #121729; margin-top: 5%; color: white;">
                <div class="row">
                    <div class="col-6">
                        <div class="gillSansRegular mt-3" style="font-size: 4.5vw;">
                            Mail
                        </div>
                        <a href="mailto:office@visionstudios.ro" style="text-decoration: none; color: white; font-size: 3.5vw;"><span class="gillSansLight">office@visionstudio.ro</span></a>

                    </div>                  

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="gillSansRegular mt-3" style="font-size: 4.5vw;">
                            Website
                        </div>
                        <a href="/" style="margin-top: -1%; padding: 0%; text-decoration: none; color: white; font-size: 3.5vw;"><span class="gillSansLight">www.visionstudios.ro</span></a>
                    </div>
                    <div class="col-6">
                        <div class="gillSansRegular mt-3" style="font-size: 4.5vw;">
                            Telefon
                        </div>
                        <a style="text-decoration: none; color: white; font-size: 3.5vw;"><span class="gillSansLight">0731 384 526</span></a>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 2%; margin-top: 5%;">
                    <div class="col-6">
                        <a href="https://www.instagram.com/visionstudioscj/" target="_blank">
                            <img src="{% static '/social_logos/insta2.png' %}" draggable="false" class="img-fluid" height="auto" width="25%" style="float: right;">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.facebook.com/modelingonlinecj" target="_blank">
                            <img src="{% static '/social_logos/fb.png' %}" draggable="false" class="img-fluid" height="auto" width="25%" style="float: left;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Get the button
    var mybutton = document.getElementById("myTopBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
{% endblock content %}
