{% extends 'base.html' %}
{% load static %}
{% block title %}
	Insta
{% endblock title %}
{% block content %}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
</head>
<div class="modal in" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title futura">Lasă-ne datele tale de contact și te contactăm noi!</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="close_m()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <form id="registration_form" action="{% url 'submitFloater' %}" method="post">
                    {% csrf_token %}
                    <div id="div_id_email" class="form-group">
                        <label for="id_email" class="requiredField futura" style="float: left; font-size: 1.5vw;">Email <span style="color:#AB4E52">*</span></label>
                        <div class="">
                            <input type="email" name="email" maxlength="60" class="emailinput form-control" required="" id="id_email" style="background-color: rgb(209, 209, 209);">
                        </div>
                    </div>
                    <div id="div_id_phone" class="form-group">
                        <label for="id_phone" class="requiredField futura" style="float: left; font-size: 1.5vw;">Telefon <span style="color:#AB4E52">*</span></label>
                        <div class="">
                            <input type="phone" name="phone" maxlength="60" class="form-control" required="" id="id_phone" style="background-color: rgb(209, 209, 209);">
                        </div>
                    </div>
                
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Trimite</button>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="close_m()">Iesire</button>
            </div>
        
        </div>
    </div>
</div>
<div class="mobileHide">
    <div class="container-fluid">
        
        <div class="row h-100" style="overflow: hidden;">
            <button class="futura" onclick="topFunction()" id="myTopBtn" title="Go to top">back to top ────</button>
            <div class="col-3" style="background-color: #121729; text-align: center;">
                <img src="{% static 'vs_title.jpg' %}" onclick="location.href = '/'" draggable="false" class="img-fluid" style="width: 80%; margin-top: 10%; margin-left: 10%;  margin-right: 10%; cursor: pointer;">
                <pre><p class="futura" style="font-size: 0.75vw; color: #FFFFFF; cursor: pointer;" onclick="location.href = '/'">C L U J    N A P O C A    •    R O M A N I A</p></pre>                <pre><button class="apply_txt" id="myApplyBtn" style="font-size: 0.7 vw;" onclick="location.href = '/aplica'"> ───  A   P   L   I   C   Ă</button></pre>
            </div>
            
            <div class="col-9" style="text-align: center;">
                <div class="row" style="margin-bottom: 0%;">
                    <pre class="futura" style="font-size: 3.25vw; margin-top: 1%; margin-bottom: 0%; padding-bottom: 0%;">I    N    S    T    A        F    E    E    D</pre>
                    <div>
                        <div class="dropdown" style="float: right;">
                            <button class="dropbtn"><p class="menuitem" style="width: 100px;">M E N U </p>
                            </p></button>
                            <div class="dropdown-content">
                              <a href="/">Home</a>
                              <a href="/modele">Modele</a>
                              <a href="/aboutus">Despre noi</a>
                              <a href="/galerie">Galerie</a>
                              <a href="/contact">Contact</a>
                              <a href="/insta">Insta</a>
                              <a href="/aplica">Aplică</a>
                            </div>
                          </div>
                    </div>
                </div>
                
                {% comment %} IMG 1 LEFT {% endcomment %}
                <div class="row" style="margin-top: 5%;">
                    <div class="col-7">
                        <img src="{% static 'despre_noi/as_01.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%;">
                        <div style="margin-top: 10%;">
                            <p class="myriad" style="font-size: 1.25vw; text-align: left;"><span class="subhead">V</span>ision Studios este cel mai modern, fresh si cool studio de videochat din România, cu bazele chiar în inima Transilvaniei, Cluj Napoca. Vrei să vezi cum arată o viață în care banii nu mai au limită, iar vacanțele mult visate devin realitate?</p>
                            <p class="myriad" style="font-size: 1.25vw;">Ocazional, se întâmplă să cunoaștem modele care au convingerea că banii în videochat se câștigă luând loc în fața webcam-ului și asteptându-i să vină. Nu este adevărat! Banii în videochat se câștigă prin implicare, prin muncă, dar printr-o muncă bine răsplătită.</p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="{% static 'despre_noi/as_02.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%; width:80%; margin-top: 25%; margin-right: 5%;">
                    </div>
                </div>
                
                </div>
                <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
<ul class="juicer-feed" data-feed-id="visionstudioscj"><h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer.io</a></h1></ul>
            </div>
            
        </div>
    </div>
<div class="mobileShow">
    <div class="container-fluid">
        <div class="row h-100" style="overflow: hidden;">
            <button class="futura" onclick="topFunction()" id="myTopBtn2" title="Go to top">back to top ────</button>
            <div class="col-3" style="background-color: #121729; text-align: center;">
                <img src="{% static 'vs_title.png' %}" onclick="location.href = '/'" draggable="false" class="img" style="width: 200%;  transform: rotate(-90deg); margin-top: 100%; margin-left: -60%;">
            <div style="transform: rotate(-90deg); margin-top: -20%; margin-left: -50%; width: 250%;" onclick="location.href = '/'"><pre><p class="futura" style="font-size: 1.25vw; color: #FFFFFF;">C L U J    N A P O C A    •    R O M A N I A</p></pre></div>
                <pre><button class="apply_txt" id="myApplyBtn" onclick="location.href = '/aplica'" style="font-size: 6.0vw;"> ───  A   P   L   I   C   Ă</button></pre>            </div>
            <div class="col-9" style="text-align: center;">
                <div class="row" style="margin-bottom: 0%;">
                    <pre class="futura" style="font-size: 3.75vw; margin-top: 1%; margin-bottom: 0%; padding-bottom: 0%;">D    E    S    P    R    E        N    O    I</pre>
                </div>
                
                {% comment %} IMG 1 LEFT {% endcomment %}
             
                           
                
              
                <div class="row" style="margin-top: 5%; margin-bottom: 20%;">
                    <div class="col-6">
                            <img src="{% static 'despre_noi/as_07.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="width:100%; margin-top: 10%; margin-right: 5%;">
                        </div>
                    <div class="col-6">
                        <div style="margin-top: 10%;">
                            <h3 class="myriad" style="font-size: 4.5vw; font-weight: bold;">IMAGINEA</h3>
                            <div style="margin-top: 10%; text-align: left;">
                                <p class="myriad mt-3" style="font-size: 2.75vw;"><span class="subhead" style="margin-right: 10%;">F</span>iind model la Vision Studios trebuie să se țină cont de imagine: ținută vestimentară, coafură, make-up, comportament, mimică, limbaj și gesturi.</p>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: left; margin-top: -3%;">
                        <p class="myriad mt-3" style="font-size: 2.75vw;">Încă de la început, modelul va primi sfaturi și ajutorul necesar pentru o cât mai bună imagine.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
<ul class="juicer-feed" data-feed-id="visionstudioscj"><h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer.io</a></h1></ul>
    <script>

        //Get the button
        var mybutton = document.getElementById("myTopBtn");
        var mybutton2 = document.getElementById("myTopBtn2");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                    mybutton2.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                    mybutton2.style.display = "none";
                }
            }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


{% endblock content %}