<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"  class='headitem' style="padding-left: 5%; font-size: x-large;">DESPRE NOI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" class='headitem' tyle="padding-left: 2%; background-color: #121729;">
      <li class="nav-item active" style="background-color: #121729; margin-right: 10%; font-size: x-large;">
        <a class="nav-link" href="#" style="color: #FFFFFF">MODELE</a>
      </li>
      <li class="nav-item" style="background-color: #121729; margin-right: 10%; font-size: x-large;">
        <a class="nav-link" href="#" style="color: #FFFFFF">GALERIE</a>
      </li>
      <li class="nav-item" style="background-color: #121729; margin-right: 10%; font-size: x-large;">
        <a class="nav-link" href="#" style="color: #FFFFFF;">CONTACT</a>
      </li>
      <li class="nav-item" style="background-color: #121729; margin-right: 10%; font-size: x-large;">
        <a class="nav-link" href="#" style="color: #FFFFFF;">INSTA</a>
      </li>
    </ul>
  </div>
</nav>